# Problem 1
Import NumPy under the alias `np`.

In [3]:
import numpy as np

# Problem 2
Import pandas under the alias `pd`.

In [2]:
import pandas as pd

# Problem 3
We will again be using salesperson data to test your knowledge of the `groupby` method. Given the dataset `data`, print a new DataFrame that shows the mean sales per salesperson, grouped by `Organization`.

In [10]:
data = pd.DataFrame([ ['Coca-Cola', 'Nick', 200],

                    ['Coca-Cola', 'Joel', 120],

                    ['Pepsi','Taylor', 125],

                    ['Pepsi','Josiah', 250],

                    ['Dr. Pepper','Josh', 150],

                    ['Dr. Pepper','Micaiah', 500]], 
                    columns = ['Organization', 'Salesperson Name', 'Sales'])

data

  Organization Salesperson Name  Sales
0    Coca-Cola             Nick    200
1    Coca-Cola             Joel    120
2        Pepsi           Taylor    125
3        Pepsi           Josiah    250
4   Dr. Pepper             Josh    150
5   Dr. Pepper          Micaiah    500

In [11]:
#Solution goes here
data.groupby('Organization').mean()

              Sales
Organization
Coca-Cola     160.0
Dr. Pepper    325.0
Pepsi         187.5

# Problem 4
Given the dataset `data`, print a new DataFrame that shows the total sales for each `Organization`.

In [12]:
data.groupby('Organization').sum()

              Sales
Organization
Coca-Cola       320
Dr. Pepper      650
Pepsi           375